<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
</head>
<body>
    <div th:if="${!movies.isEmpty()}">
        <table border="1">
            <thead>
            <tr align="center">
                <th>Name</th>
                <th>Type</th>
                <th>Director</th>
                <th>Duration</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${movies}" align="center">
                    <td><a th:text="${movie.name}" th:href="@{/movies/moviedetails(id=${movie.id})}" href="#"></a> </td>
                    <td th:text="${movie.type}"></td>
                    <td th:text="${movie.director}"></td>
                    <td th:text="${movie.duration}"></td>
                    <td th:text="${movie.date}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${movies.isEmpty()}">
        <h3>No movie in database</h3>
    </div>
</body>
</html>